<!doctype html>
<html data-ng-app="">
   <body>
      <head>
         <title>Welcome.</title>       
      </head>
   
   <h1>Welcome</h1>
   <br />
   
   <div class="container" 
       data-ng-init="family=[{name:'yaron', fname:'kessler', age:'40'},
                            {name:'eli', fname:'li',age:'33'},
                            {name:'lil', fname:'lee',age:'44'}]">
    
    <br />
      Filter by:    
    <br />
      <input type="text" data-ng-model="name"> {{name}}
    
                            
    <ul>
       <li data-ng-repeat="mf in family | filter:name"> {{mf.name}} - {{mf.fname}} - {{mf.age}}</li>
       
      
  
    </ul>
   
   </div>
   
   <script src="../utils/angular/angular.min.js"></script>
   
   </body>
</html>