
<html ng-app="myApp">
<!-- declare angular -->
<head>
<title>Angular Script</title>

<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<style>
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak
	{
	display: none !important;
}
</style>
</head>


<body ng-cloak>
	<div ng-controller="ContactCtrl">
		<div class=container-fluid>
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-btn">
						<button ng-click="add()" class="btn btn-primary" type="button">Add!</button>
					</span>
					<!-- ng-model = newContact -->
					<input type="text" ng-model="newContact" class="form-control"
						placeholder="Search for...">
				</div>
				<!-- /input-group -->
			</div>
			<!-- /.col-lg-6 -->

			<div class="row">
				<div class="col-lg-6">
					<h2>Contact List</h2>
					<ul class="list-unstyled">
						<li ng-repeat="contact in contactList">{{contact}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


	<script>
		//create new angular app with empty dependenices array
		var myApp = angular.module('myApp', []);

		myApp.controller('ContactCtrl', function($scope) {
			$scope.contactList = []; /* empty array-list */

			$scope.add = function() 
			{
				alert(1);
				$scope.contactList.push($scope.newContact); /* add conatct */

				$scope.newContact = ''; /* clear the value */
			}
			});
	</script>
</body>

</html>

<!-- https://developers.google.com/speed/libraries/devguide -->
