body {
    background-color: #8CD8FF;
    color: #FFF;
    text-align: center;
    font-size: 40px;
}

p {
    background-color: #FFF;
    color: #8CD8FF;
    padding: 30px 20px;
    border: 10pt solid #777;
    margin-top: 150px;
    border-radius: 50px;
}