
body {
    margin:0px;
}

.top-container h1{
    margin: 0px;
    height: 200px;
    width: 200px;
    padding:20px;
    
    /* margin-top:0; */
}

.top-container {
    background: #E4F9F5; /*lightblue;*/
    color: black;
}

.middle-container {
    background: red;
    color: black;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background: blue;
    color: black;
    height: 200px;
    width: 200px;
}