body {
    margin: 0px;
}

h1 {
    margin: 0px;
    padding: 0;
    margin-top: 0;
}

p {
    margin: 0px;
}

.top-container {
    background-color: green;
    /* background-color: #E4F9F5; */
    border: dashed 4px;
    border-color: white;
    color: black;
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin: 12px;
}

.middle-container {
    background-color: yellow;
    border: dashed 4px;
    border-radius: 90px;
    border-color: white;
    color: black;
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin: 12px;
    ra
}

.bottom-container {
    background-color: red;
    border: dashed 4px white;
    border-radius: 180px;
    color: black;
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin: 12px;
}