body {
    background-color: white;
    color: black;
    font-size:25px;
  }
  
  /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: blue;
      color: white;
      font-size:20px;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      color: white;
      font-size:15px;
    }