
<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="UTF-8">

    <meta name="description" content="html basic tempate."/>

    <meta name="keywords" content="html, html4, html5"/>

    <meta name="robots" content="index,follow"/> 

    <!-- base folder -->
    <base href="http://localhost/html5/"/>

    <!-- css script -->
    <link rel="stylesheet" href="css-file.css"/>

    <!-- js script -->
    <script src="script-file.js"> </script>

    <!-- icon -->
    <link rel="icon" href="myIcon.ico"/>

    <!-- title -->
    <title>01-template</title>

</head>

<body onload="alert('Hello')" onunload="alert('Bye Bye')">

    <h1>Welcome</h1>
</body>

</html>