<!DOCTYPE html>

<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="description" content="web examples">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="kessler yaron">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- icon -->
  <link rel="icon" href="myIcon.ico" />

  <!-- title -->
  <title> Html - Page 1 </title>

</head>

<body>

  <div id="wrapper">

    <pre>
.                                       #######
 #    #   #####  #    #  #              #
 #    #     #    ##  ##  #              #
 ######     #    # ## #  #       #####   #####
 #    #     #    #    #  #                    #
 #    #     #    #    #  #              #     #
 #    #     #    #    #  ######          #####
 .
</pre>


  </div>
</body>

</html>