/* css-1.3.css */

<<<<<<< HEAD
* {
    background-color: blue;
=======
/*  body {}  */
/*  *{}  */

}
*{
    background-color:blue;
>>>>>>> 4971312ef3a9a2b010fee798926b85be97b20ec8
}


p {
    color: yellow;
}