<!DOCTYPE html>
<html lang="en" data-ng-app="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>english vocabulary test</title>
<style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</style>
</head>
<body>
    
        <div class="container"
        data-ng-init="customers=[{enWord:'magical',heWord:'קסום'},
                                 {enWord:'physical',heWord:'גוּפָנִי'},
                                 {enWord:'musical',heWord:'מוּסִיקָלִי'},
                                 {enWord:'loyal',heWord:'נֶאֱמָן'},
                                 {enWord:'empathetic',heWord:'אמפתי'},
                                 {enWord:'romantic',heWord:'רוֹמַנטִי'},
                                 {enWord:'sympathetic',heWord:'אוֹהֵד'},
                                 {enWord:'ambitious',heWord:'שְׁאַפתָנִי'},
                                 {enWord:'curious	',heWord:'סקרן'},
                                 {enWord:'mysterious',heWord:'מסתורי'},
                                 {enWord:'adventurous',heWord:'הרפתקני'},
                                 {enWord:'generous',heWord:'נָדִיב'},
                                 {enWord:'energetic	',heWord:'נִמרָץ'},
                                 {enWord:'useful',heWord:'מוֹעִיל'},
                                 {enWord:'useless',heWord:'חֲסַר תוֹעֶלֶת'},
                                 {enWord:'playful',heWord:'שובבה'},
                                 {enWord:'beautiful',heWord:'יפה'},
                                 {enWord:'peaceful',heWord:'שָׁקֶט'},
                                 {enWord:'helpful',heWord:'מוֹעִיל'},
                                 {enWord:'helpless',heWord:'חסר ישע'},
                                 {enWord:'faithful',heWord:'נאמן'},
                                 {enWord:'careful',heWord:'זָהִיר'},
                                 {enWord:'careless',heWord:'רשלן'},
                                 {enWord:'responsible',heWord:'אחראי'},
                                 {enWord:'sensible',heWord:'הגיוני'},
                                 {enWord:'edible',heWord:'אָכִיל'},
                                 {enWord:'drinkable',heWord:'רָאוּי לִשְׁתִיָה'},
                                 {enWord:'sensitive',heWord:'רָגִישׁ'},
                                 {enWord:'supportive',heWord:'תומך'},
                                 {enWord:'active',heWord:'פָּעִיל'},
                                 {enWord:'decisive',heWord:'מַכרִיעַ'},
                                 {enWord:'attractive',heWord:'מוֹשֵׁך'},

                                 ]">

        <br />
        <h3> enter a word </h3>
        <input id="txtWord" type="text" data-ng-model='enHeWrods' />

        <ul>
            <li data-ng-repeat="cust in customers | filter:enHeWrods | orderBy:'enWord'"> {{cust.enWord | lowercase}} &nbsp;&nbsp; - &nbsp;&nbsp; {{cust.heWord | uppercase}} </li>              
        </ul>
        
    </div>

    <script src="../angular.min.js"> </script> <!-- script loading up -->
 
    <!-- cdn -->
    <!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js --> 

</body>
</html>