<!DOCTYPE html>
<html lang="en" data-ng-app="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>english vocabulary test</title>
    <style>
        /* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> */
    </style>
</head>

<body>

    <div class="container" data-ng-init="customers=[{enWord:'behavior',heWord:'התנהגות'},
                                        {enWord:'completely',heWord:'לַחֲלוּטִין'},
                                        {enWord:'condition',heWord:'מַצָב'},
                                        {enWord:'connection',heWord:'חיבור'},
                                        {enWord:'disappear',heWord:'לְהֵעָלֵם'},
                                        {enWord:'evil',heWord:'רוע'},
                                        {enWord:'exactly',heWord:'בְּדִיוּק'},
                                        {enWord:'excited',heWord:'נִרגָשׁ'},
                                        {enWord:'identity',heWord:'זהות'},
                                        {enWord:'mood',heWord:'מַצַב רוּחַ'},
                                        {enWord:'mysterious',heWord:'מסתורי'},
                                        {enWord:'personality',heWord:'אִישִׁיוּת'},
                                        {enWord:'prevent',heWord:'לִמְנוֹעַ'},
                                        {enWord:'protect',heWord:'לְהַגֵן'},
                                        {enWord:'publish',heWord:'לְפַרְסֵם'},
                                        {enWord:'relationship',heWord:'מערכת יחסים'},
                                        {enWord:'resppected',heWord:'מכובד'},
                                        {enWord:'society',heWord:'חֶברָה'},
                                        {enWord:'struggle',heWord:'מַאֲבָק'},
                                        {enWord:'suspect',heWord:'חָשׁוּד'},
                                        {enWord:'throughout',heWord:'בְּמֶשֶך'},
                                        {enWord:'violent',heWord:'אַלִים'},
                                        {enWord:'well known',heWord:'ידוע היטב'},
                                        {enWord:'based on',heWord:'מבוסס על'},
                                        {enWord:'commit a crime',heWord:'לפשוע'},
                                        {enWord:'human nature',heWord:'טבע אנושי'}
                                 ]">

        <br />
        <h3> enter a word </h3>
        <input id="txtWord" type="text" data-ng-model='enHeWrods' />

        <ul>
            <li data-ng-repeat="cust in customers | filter:enHeWrods | orderBy:'enWord'"> {{cust.enWord | lowercase}}
                &nbsp;&nbsp; - &nbsp;&nbsp; {{cust.heWord | uppercase}} </li>
        </ul>

    </div>

    <script src="../angular.min.js"> </script> <!-- script loading up -->

    <!-- cdn -->
    <!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js -->

</body>

</html>