body {
    margin: 0px;
    /* center the text/screen */
    text-align: center;
    color: #40514E;
    /* background-color: #EAF6F6; */
    font-family: 'Merriweather', serif;
    /* word-spacing: 10px; */
}

a {
    color: #11999E;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    /* double size the height - without size time px/rem/em.. */
    /* line-height: 2; */
    /* margin-top: 50px auto; */
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #11999E;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 34px;
    margin: 100px auto;
    border-color: gray;
    /**/
    /*fix like this*/
    /**/
    /* border-style: none; */
    /* border-top-style: dotted; */
    /* border-color: #EAF6F6; */
    /* gray color */
    /* border-color: gray; */
    /* border-width: 12px; */
    /* width: 6%; */
}

.su {
    text-decoration: underline;
    /* color: red; */
}

.top-container {
    background-color: #EAF6F6;
    color: black;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    color: black;
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 400px;
}

.middle-container {
    /* background-color: #E4F9F5; */
    margin: 100px 0px;
}

.profileIcon {
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 120px;
}

.intro {
    width: 30%;
    margin: auto;
    /* margin: 0px, auto, 0px, auto; */
    /* color: blue; */
}

#all a:visited {
    color: #11999E;
}

#all a:hover {
    color: red;
}

#all a:active {
    color: blue;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pipe-image {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    border-radius: 60px;
}

.yaron-image {
    /* width: 25%; */
    /* height: 25%; */
    float: right;
    margin-left: 30px;
    border-color: blue;
    border-width: 1px;
    border-style: dashed;
    border-radius: 120px;
}

.profile-image {
    /* width: 25%; */
    height: 2%;
    border-color: red;
    border-width: 1px;
    border-style: dashed;
    border-radius: 35px;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 144px;
}

.bottom-container a {
    color: #11999E;
}

.copyRight {
    color: #EAF6F6;
}

p {
    line-height: 2;
}