/* 
* 3 containers in top of page 
* align all element to center 
*/

body {
    margin: 0px;
    /* center the text/screen */
    text-align: center;
}

h1 {
    width: 10%;
    /* margin: top, right, bottom, left. */
    /* margin: 0 auto 0 auto; */
    /* margin: top + bottom, right + left. */
    margin: 0px auto;
}

.top-container {
    background: #E4F9F5;
    color: black;
}

.middle-container {
    color: black;
    background: green;
    height: 200px;
    width: 200px;
}

.bottom-container {
    color: black;
    background: red;
    height: 200px;
    width: 200px;
}